<div id="calendar_body">
    <div id="calendar_container">
        <div id="calendar_header">
        </div>

        <div id="weekdays">
            <div>Pn</div>
            <div>Wt</div>
            <div>Śr</div>
            <div>Czw</div>
            <div>Pt</div>
            <div>So</div>
            <div>Nd</div>
        </div>

        <div id="calendar"></div>
    </div>
    <script src="~/js/calendar.js"></script>
</div>