<div id="calendar_body">
    <div id="calendar_container">
        <div id="calendar_header">
        </div>

        <div id="weekdays">
            <div>Pn</div>
            <div>Wt</div>
            <div>Śr</div>
            <div>Czw</div>
            <div>Pt</div>
            <div>So</div>
            <div>Nd</div>
        </div>

        <div id="calendar"></div>
    </div>
    <script>
        let offset = 0;

        const calendar = document.getElementById('calendar');
        const header = document.getElementById('calendar_header');
        const weekdays = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela'];

        function load() {
            const date = new Date();
            const day = date.getDate();

            const firstDayOfMonth = new Date(date.getFullYear(), date.getMonth(), 1);
            const daysInMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
            const weekday = firstDayOfMonth.toLocaleDateString('pl-pl', { weekday: 'long' });
            const paddingDays = weekdays.indexOf(weekday);

            const dateString = date.toLocaleDateString('pl-pl', {
                weekday: 'long',
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
            });
            
            for (let i = 1; i <= paddingDays + daysInMonth; i++) {
                const daySquare = document.createElement('div');
                daySquare.classList.add('day');

                if (day + paddingDays == i) {
                    daySquare.setAttribute('id', 'currentDay');
                }

                if (i <= paddingDays) {
                    daySquare.classList.add('padding');
                }
                else {
                    daySquare.innerText = i - paddingDays;
                }

                calendar.appendChild(daySquare);
            }
            header.innerText = dateString;
        }

        load();
    </script>
</div>