<div id="weather_body">
    <div id="weather_container">
        <div id="current_day">
            <div id="date_today"></div>
            <img id="icon_today"/>
            <div id="temperature_today"></div>
            <div id="description_today"></div>
        </div>

        <div id="forecast"></div>
    </div>
    <script src="~/js/weather.js"></script>
</div>