@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Nie pamiętasz hasła?";
}

<br/>
<h1>@ViewData["Title"]</h1>
<h2>Podaj adres e-mail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div id="captcha_div" class="g-recaptcha" style="margin: 5px" data-callback="enableBtn"></div>
            <br />
            <input type="hidden" asp-for="Input.Captcha" />
            <button id="submitButton" type="submit" style="margin: 5px" class="w-100 btn btn-lg btn-primary">Potwierdź</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            submitButton.disabled = true;
        });
        var captchaId;
        var onloadCallback = function () {
            captchaId = grecaptcha.render('captcha_div', {
                'sitekey': '@Model._captchaConfig.PublicKey'
            });
        };

        function enableBtn() {
            submitButton.disabled = false;
            document.getElementById('Input_Captcha').value = grecaptcha.getResponse(captchaId);
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
}
