@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Nie pamiętasz hasła?";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na podany adres email został wysłany link do zmiany hasła. Jeżeli nie widzisz wiadomości z linkiem, sprawdź folder Spam, lub kliknij <a href="~/identity/account/forgotpassword">tutaj</a>, aby ponownie wysłać wiadomość.
</p>
