@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Logowanie przy pomocy kodu odzyskiwania";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Poprosiłeś(aś) o zalogowanie przy pomocy kodu odzyskiwania. Nie zostaniesz zapamiętany(a) w tej przeglądarce,
    dopóki nie zalogujesz się ponownie używając kodu z aplikacji.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="margin: 5px"></div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <div id="captcha_div" class="g-recaptcha" style="margin: 5px" data-callback="enableBtn"></div>
            <br />
            <input type="hidden" asp-for="Input.Captcha" />
            <button id="submitButton" type="submit" class="w-100 btn btn-lg btn-primary" style="margin: 5px">Zaloguj</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            submitButton.disabled = true;
        });
        var captchaId;
        var onloadCallback = function () {
            captchaId = grecaptcha.render('captcha_div', {
                'sitekey': '@Model._captchaConfig.PublicKey'
            });
        };

        function enableBtn() {
            submitButton.disabled = false;
            document.getElementById('Input_Captcha').value = grecaptcha.getResponse(captchaId);
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
}