@page
@model RegisterConfirmationModel

<br />
<h1>Dziękujemy za założenie konta na naszej stronie</h1>
<br/>
<p>
    Na podany adres email został wysłany link aktywacyjny. Jeżeli nie widzisz wiadomości z linkiem, sprawdź folder Spam, lub kliknij <a href="~/identity/account/resendemailconfirmation">tutaj</a>, aby ponownie wysłać wiadomość.
</p>

