#weather_body {
    display: flex;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #0d1259;
    border-style: outset;
    border-color: #0d1259;
    border-radius: 25px;
}

#weather_container {
    width: 100%;
}

#current_day {
    justify-content: center;
    margin: auto;
    width: 45%;
}

#date_today {
    color: #ffffff;
    font-size: x-large;
    font-weight: 700;
}

#icon_today {
    width: 100%;
}

#temperature_today {
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
}

#description_today {
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
}

#forecast {
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 6px;
    margin: 12px 8px;
    padding: 2px;
    background-color: #0474ba;
    border-style: outset;
    border-color: #0474ba;
    border-radius: 20px;
}

.forecast_tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather_icon {
    width: 100%;
}

.weather_date {
    color: #ffffff;
    font-size: small;
    font-weight: 500;
}

.weather_temperature {
    color: #ffffff;
    font-size: small;
    font-weight: 400;
}
