#weather_body {
    display: flex;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #0d1259;
    border-style: outset;
    border-color: #0d1259;
    border-radius: 25px;
}

#weather_container {
    width: 392px;
}

#current_day {
    margin: auto;
    width: 45%;
}

#date_today {
    color: #ffffff;
    font-size: x-large;
    font-weight: 700;
}

#icon_today {
    width: 110px;
}

#temperature_today {
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
}

#description_today {
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
}

#forecast {
    width: 100%;
    display: flex;
    margin: 2px;
    padding: 2px;
    background-color: #0474ba;
    border-style: outset;
    border-color: #0474ba;
    border-radius: 20px;
}

.forecast_tile {
    width: 90px;
    margin: 5px;
}

.weather_icon {
    width: auto;
}

.weather_date {
    color: #ffffff;
    font-size: small;
    font-weight: 500;
}

.weather_temperature {
    color: #ffffff;
    font-size: small;
    font-weight: 400;
}
