@model NarwianskiZakatek.Models.Description

@{
    ViewData["Title"] = "O nas";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>


<img src="@Model.getFullPhotoPath()" width="200" />
@Html.DisplayFor(model => model.Content)

<div>
    <a asp-action="Edit" asp-route-header="@Model?.Title">Edytuj</a>
</div>
