@model NarwianskiZakatek.Models.Description

@{
    ViewData["Title"] = "O nas";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<br />
<img src="@Model.getFullPhotoPath()" width="100%" />
<br />
<p>
    @Html.DisplayFor(model => model.Content)
</p>
<br />
<div class="gmap_canvas">
    <iframe id="gmap" src="https://maps.google.com/maps?q=wiejska%2045a&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>