@model NarwianskiZakatek.Models.Description

@{
    ViewData["Title"] = "O nas";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>


<img src="@Model.getFullPhotoPath()" width="200" />
<p>
    @Html.DisplayFor(model => model.Content)
</p>
