@model NarwianskiZakatek.Models.Description

@{
    ViewData["Title"] = "Atrakcje";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<img src="@Model.getFullPhotoPath()" width="200" />
<p>
    @Html.DisplayFor(model => model.Content)
</p>
<div>
    <a asp-action="Edit" asp-route-header="@Model?.Title">Edytuj</a>
</div>