@model NarwianskiZakatek.ViewModels.RoomsViewModel

<div class="row">
    <label>Wybierz układ pokoi</label>
    <form asp-action="Confirm">
        <div class="form-group">
            <label asp-for="BeginDate" class="control-label"></label>
            <input asp-for="BeginDate" class="form-control" readonly />
            <span asp-validation-for="BeginDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" readonly />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <select id="roomSelect" asp-for="@Model.Rooms" asp-items="(List<SelectListItem>)ViewBag.RoomList"
                class="multi-select" multiple="multiple">
        </select>
        <div class="form-group">
            <input type="submit" value="Złóż rezerwację" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }