@model NarwianskiZakatek.ViewModels.AvailableRooms

<div class="row">
    <label>Wybierz układ pokoi</label>
    <form asp-action="Confirm">
        <select asp-for="Rooms" asp-items="ViewBag.RoomList"
                class="form-control" multiple="multiple">
        </select>
        <div class="form-group">
            <input type="submit" value="Złóż rezerwację" class="btn btn-primary" />
        </div>
    </form>
</div>
