@page
@model IndexModel
@{
    ViewData["Title"] = "Twoje konto";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Surname" class="form-control" />
                <label asp-for="Input.Surname" class="form-label"></label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.City" class="form-control" />
                <label asp-for="Input.City" class="form-label"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Street" class="form-control" />
                <label asp-for="Input.Street" class="form-label"></label>
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.BuildingNumber" class="form-control" />
                <label asp-for="Input.BuildingNumber" class="form-label"></label>
                <span asp-validation-for="Input.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.LocalNumber" class="form-control" />
                <label asp-for="Input.LocalNumber" class="form-label"></label>
                <span asp-validation-for="Input.LocalNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.PostalCode" class="form-control" />
                <label asp-for="Input.PostalCode" class="form-label"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.PostCity" class="form-control" />
                <label asp-for="Input.PostCity" class="form-label"></label>
                <span asp-validation-for="Input.PostCity" class="text-danger"></span>
            </div>
            <button id="update-profile-button" style="margin: 5px" type="submit" class="w-100 btn btn-lg btn-primary">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
